<nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
        <h1>e-dietician</h1>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home" href="#">Browse Foods<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/course" href="#work">How it works</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/course" href="#footer">Contact Us</a>
            </li>
            <li class="nav-item">
                <a href="login"><button class="btn btn-outline-success my-2 my-sm-0" type="submit">Login / Sign Up</button></a>
            </li>


        </ul>

    </div>
</nav>
<div class="card bg-dark text-black card border-light first-card">
    <img src="assets/logo2.jpg" class="card-img" alt="...">
    <div class="card-img-overlay">
        <h1 class="card-title">Put your diet on autopilot</h1>
        <p class="card-text">Eat This Much creates personalized meal plans based on your food preferences, budget, and schedule. Reach your diet and nutritional goals with our calorie calculator, weekly meal plans, grocery lists and more. Create your meal plan right here
            in seconds.</p>
        <br><br>
        <p class="card-text">Ready to give it a shot?</p>
    </div>
</div>


















<div id="carouselExampleCaptinos" class="carousel slide" data-ride="carousel" style="background-color:#a3eefd;height:300px;">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
        <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">

            <h2>Regular Foods</h2>

            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Whole wheat pasta</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chicken broth</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Gruyere cheese</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>

                </div>


            </div>


        </div>
        <div class="carousel-item">
            <h2>Restaurant Foods</h2>

            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Vanilla McCafe Shake</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Chicken Sandwich</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Fish Bites</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <h2>Branded Foods</h2>

            <div class="card-deck">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Marcelled Potato Chips</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Banquet Original Chicken Nugggets</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Balsamic Vinegar</h5>
                        <p class="card-text">Calories - </p>
                        <p class="card-text">Protiens - </p>
                        <p class="card-text">Fats - </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>


<div id="work">

    <img src="assets/logo4.jpg" style="float: right; height: 400px;width : 500px;padding:15px;;">
    <div style="height: 400px;background-color: #fae98c
    ;padding-left:15px;padding-right:30px">
        <h2>How We Automate Your Meal Planning (And put you in control of your diet!)</h2>
        <p>
            Eat This Much helps you with the two most important things to make your healthy diet a success: Turn meal planning into an effortless and magical experience ✨ Provide an endless supply of delicious recipes specific to your needs 🍲 Let's see how Eat This
            Much makes it happen!
        </p>



    </div>
</div>

<footer style=" background-color: #a3eefd;padding-left: 40px; " id="footer">
    <!--Section: Contact v.2-->
    <section class="mb-4 ">

        <!--Section heading-->
        <h2 class="h1-responsive font-weight-bold text-center my-4 ">Contact us</h2>
        <!--Section description-->
        <p class="text-center w-responsive mx-auto mb-5 ">Do you have any questions? Please do not hesitate to contact us directly. Our team will come back to you within a matter of hours to help you.</p>

        <div class="row ">

            <!--Grid column-->
            <div class="col-md-9 mb-md-0 mb-5 ">
                <form id="contact-form " name="contact-form " action="mail.php " method="POST ">

                    <!--Grid row-->
                    <div class="row ">

                        <!--Grid column-->
                        <div class="col-md-4 ">
                            <div class="md-form mb-0 ">
                                <input type="text " id="name " name="name " class="form-control ">
                                <label for="name " class=" ">Your name</label>
                            </div>
                        </div>
                        <!--Grid column-->

                        <!--Grid column-->
                        <div class="col-md-4 ">
                            <div class="md-form mb-0 ">
                                <input type="text " id="email " name="email " class="form-control ">
                                <label for="email " class=" ">Your email</label>
                            </div>
                        </div>
                        <!--Grid column-->

                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row ">
                        <div class="col-md-9 ">
                            <div class="md-form mb-0 ">
                                <input type="text " id="subject " name="subject " class="form-control ">
                                <label for="subject " class=" ">Subject</label>
                            </div>
                        </div>
                    </div>
                    <!--Grid row-->

                    <!--Grid row-->
                    <div class="row ">

                        <!--Grid column-->
                        <div class="col-md-9 ">

                            <div class="md-form ">
                                <textarea type="text " id="message " name="message " rows="2 " class="form-control md-textarea "></textarea>
                                <label for="message ">Your message</label>
                            </div>

                        </div>
                    </div>
                    <!--Grid row-->

                </form>

                <div class="text-center text-md-left ">
                    <a class="btn btn-primary " onclick="document.getElementById( 'contact-form').submit(); ">Send</a>
                </div>
                <div class="status "></div>
            </div>
            <!--Grid column-->

            <!--Grid column-->
            <div class="col-md-3 text-center ">
                <ul class="list-unstyled mb-0 ">
                    <li><i class="fas fa-map-marker-alt fa-2x "></i>
                        <h4>San Francisco, CA 94126, USA</h4>
                    </li>
                    <br>
                    <li><i class="fas fa-phone mt-4 fa-2x "></i>
                        <h4>+ 01 234 567 89</h4>
                    </li>
                    <br>
                    <li><i class="fas fa-envelope mt-4 fa-2x "></i>
                        <h4>contact@mdbootstrap.com</h4>
                    </li>
                </ul>
            </div>
            <!--Grid column-->

        </div>

    </section>
    <!--Section: Contact v.2-->
</footer>
